*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}

  
  .login {
    position: relative;
    width: 380px;
    height: 500px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;

  }
  .login::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 500px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent,transparent,#5cdb95,#5cdb95,#5cdb95);
    z-index: 1;
    animation: animacion 5s linear infinite;
  }
  .login::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 500px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent,transparent,#5cdb95,#5cdb95,#5cdb95);
    z-index: 1;
    animation: animacion 5s linear infinite;
    animation-delay: -2.5s;
  }
  @keyframes animacion{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  .login form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2; 
    display: flex;
    flex-direction: column;
  }
  .login form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
  }  
  .login form .usuario{
    position: relative;
    width: 300px;
    margin-top: 35px ;
  }
  .login form .usuario input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: 23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  }
  .login form .usuario label{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }
  
  .login form .usuario input:valid ~ label,
  .login form .usuario input:focus ~ label
  {
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);  
  }
  .login form .usuario i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
  }
  .login form .usuario input:valid ~ i,
  .login form .usuario input:focus ~ i{
    height: 44px;
  }
  
  .login form a{
    position: relative;
    top: 50px;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    border-radius: 10px;
  }
  .login form input[type="submit"]{
    width: 100%;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
    overflow: hidden;
  }
 
  .login form a:hover{
    background: #5cdb95;
    color: #000000;
    box-shadow: 0 0 5px #5cdb95,
                0 0 25px #5cdb95,
                0 0 50px #5cdb95,
                0 0 100px #5cdb95;
  }
 